ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color:#FF5733;
}

li {
    float: left;
}

li a {
    display: block;
     color:white;
    text-align: center;
     margin-bottom: 10px;
     margin-top: 10px;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
